* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    text-align: center;
    color: #fff;
    background: #063b77;
    padding: 3vh 0;
    width: 100vw;
    position: absolute;
    top: 0;
}

main {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 0 2vw;
    height: 100vh;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section h1 {
    margin-bottom: 3vh;
}

#left_arrow,
#right_arrow {
    cursor: pointer;
    width: 75px;
}

#product_image {
    width: 40vw;
    background: rgb(204, 204, 204, 0.45);
    border-radius: 8%;
}

main section p {
    margin-top: 2.1vh;
    font-size: 1.5rem;
}

button {
    appearance: button;
    background-color: #405cf5;
    color: #fff;
    outline: none;
    border: none;
    /* font-size: 1.2rem; */
    font-size: 100%;
    margin: 1.5vh .5vw 0 .5vw;
    padding: 0 25px;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    height: 44px;

    position: relative;
    text-align: center;
    text-transform: none;
}

button:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

button:hover {
    background: #063b77;
}

@media screen and (max-width: 1200px) {
    #product_image {
        width: 480px;
    }
}

@media screen and (max-width: 1100px) {
    #product_description {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 770px) {
    .arrow {
        width: 50px;
    }
    
}

@media screen and (max-width: 920px) {
    #product_image {
        width: 350px;
    }
}

@media screen and (max-width: 690px) {
    #product_image {
        width: 300px;
    }

    #product_description {
        font-size: 1rem;
    }

    #product_price {
        font-size: 1.5rem;
    }
}
