#about-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10vw;

    border: 2px solid #0f0;
}

#about-me section {
    width: 46.30vw;
    padding: 0 4vw;
} 

#about-me #description {
    margin-left: 5vw;
}

#about-me #description h3 {
    font-size: 4rem;
    margin-bottom: 2vh;
}

#about-me #description p {
    margin-top: .6vh;
    font-size: 1.6rem;
    text-align: justify;
}

#about-me #description .btns button {
    background: var(--purple);
    color: var(--white);
    font-size: 1.5rem;
    padding: 1vh 1vw;
    border-radius: 16px;
    margin: 3vh 0.5vw 0 0.5vw;
}

#about-me #description .btns button:hover {
    background-color: var(--dark-purple);
}

#about-me #me {
    height: 70vh;
    padding: 2vh 4vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#about-me #me #photo {
    height: fit-content;
    padding: 1vh 1.5vw;
    scale: 1.15 1.15;
}

#about-me #me #photo #my-photo {
    width: 70%;
}

#about-me #me #name-job {
    text-align: center;
    display: block;

    padding: 1vh 1.5vw;
    
    background: var(--purple);
    color: var(--white);
    border-radius: 16px;
    font-size: 1.2rem;
    max-width: 20vw;
}

#about-me #me #name-job h3,
#about-me #me #name-job p {
    display: inline-block;
}
