* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* #32325d */
body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 4vw;
    height: 10vh;
    width: 100vw;
    font-size: 1.4rem;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;

    width: 40vw;
}

header nav ul li {
    color: #063b77;
    cursor: pointer;
}

header nav ul li:hover {
    color: #405cf5;
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main div:first-child {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 10vw;
    width: 30vw;
}

main div:first-child h3 {
    font-size: 1.05rem;
}

main div:first-child h1 {
    font-size: 2.6rem;
}

#typing-bar {
    font-size: 2.3rem;
}

main div:first-child #typing-bar {
    animation: blink 0.5s infinite linear;
}

main div:first-child button {
    appearance: button;
    background-color: #405cf5;
    color: #fff;
    outline: none;
    border: none;
    /* font-size: 1.2rem; */
    font-size: 100%;
    margin: 1.5vh .5vw 0 .5vw;
    padding: 0 25px;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    height: 44px;

    position: relative;
    text-align: center;
    text-transform: none;
}
main div:first-child button:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

main div:first-child button:hover {
    background: #063b77;
}

main div:first-child button:last-child {
    background: #fff;
    color: #004faa;
    font-weight: 600;
    cursor: pointer;
    border: 0.5px solid #32325d;
}

main div:first-child button:last-child:hover {
    text-decoration: underline;
    background: #fff;
}

main > div:last-child {
    width: 60vw;
}

main div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

main div:last-child img {
    width: 70%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 48px;
}

footer {
    background: #004faa;
    color: #fff;
    width: 100vw;
    height: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;

    translate: 0 50%;
}

footer:hover {
    animation-name: show;
    animation-delay: 100ms;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 70%;
}

footer section {
    width: 27.27%;
    margin-right: 9.09%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    cursor: pointer;
    padding: 0 1vw;
}

footer section small {
    font-size: 0.85rem;
}

footer section h3 {
    font-size: 1.45rem;
}

footer section p {
    font-size: 0.9rem;
    text-align: justify;
}

footer section.current {
    background: #ccc;
    height: 110%;
    translate: 0 -5%;
    color: #004faa;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer section.current small {
    font-size: 1rem;
}

footer section.current h3 {
    font-size: 1.5rem;
}

footer section.current p {
    font-size: 1rem;
    padding: 0 10%;
}

footer section:not(.current):hover {
    background: #0a4589;
    height: 100%;
}

@keyframes show {
    0% {
        translate: 0 50%;
    }

    100% {
        translate: 0 0;
    }
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}