* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 4vw;
    height: 10vh;
    font-size: 1.4rem;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;

    width: 26vw;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background: #004faa;
    color: #fff;
    width: 100vw;
    height: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;

    translate: 0 50%;
}

footer:hover {
    animation-name: show;
    animation-delay: 100ms;
    animation-iteration-count: 1;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 70%;
}

footer section {
    width: 27.27%;
    margin-right: 9.09%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer section small {
    font-size: 0.85rem;
}

footer section h3 {
    font-size: 1.45rem;
}

footer section p {
    font-size: 0.9rem;
    text-align: justify;
}

footer section.current {
    background: #ccc;
    height: 110%;
    translate: 0 -5%;
    color: #004faa;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer section.current small {
    font-size: 1rem;
}

footer section.current h3 {
    font-size: 1.5rem;
}

footer section.current p {
    font-size: 1rem;
    padding: 0 10%;
}

@keyframes show {
    0% {
        translate: 0 50%;
    }

    100% {
        translate: 0 0;
    }
}